# Symbolink links for the templates
semestre-*/*.sty

# LaTeX temporary files
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.html
*.toc
*.synctex.gz

# Output directory on GitLab Pages
public/
pdfs/

# Emacs files
*~
\#*#